main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
    justify-content: center;
}

main img {
    width: 328px;
    height: 328px;
    object-fit: cover;
    flex-grow: 1;
    flex-basis: 328px;
}

@media (width >= 80em) {
    main img {
        width: 286px;
        height: 286px;
        
    }
}